{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf"
}
