@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/theme.less';

::before,
::after {
  --tw-content: '';
}
//https://github.com/sonofmagic/weapp-tailwindcss-webpack-plugin/issues/155
view,
image,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: 0;
  --tw-pan-y: 0;
  --tw-pinch-zoom: 0;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: 0;
  --tw-slashed-zero: 0;
  --tw-numeric-figure: 0;
  --tw-numeric-spacing: 0;
  --tw-numeric-fraction: 0;
  --tw-ring-inset: 0;
  --tw-ring-offset-width: 0rpx;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: 0;
  --tw-brightness: 0;
  --tw-contrast: 0;
  --tw-grayscale: 0;
  --tw-hue-rotate: 0;
  --tw-invert: 0;
  --tw-saturate: 0;
  --tw-sepia: 0;
  --tw-drop-shadow: 0;
  --tw-backdrop-blur: 0;
  --tw-backdrop-brightness: 0;
  --tw-backdrop-contrast: 0;
  --tw-backdrop-grayscale: 0;
  --tw-backdrop-hue-rotate: 0;
  --tw-backdrop-invert: 0;
  --tw-backdrop-opacity: 0;
  --tw-backdrop-saturate: 0;
  --tw-backdrop-sepia: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

page {
  --page-bg-color: #efeff4;
  --primary-color: #d73535;
  background-color: var(--page-bg-color);
}
.safe-bottom {
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
}

.require-before {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -24rpx;
    color: red;
  }
}
.require-after {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -24rpx;
    color: red;
  }
}

.truncate-custom {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.taroify-ellipsis--l2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}
.text-under-line {
  --text-under-line-color: rgba(212, 44, 44);
  display: inline-block;
  position: relative;
  z-index: 10;
  &::after {
    content: '';
    height: 30%;
    background-color: var(--text-under-line-color);
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 1;
  }
}

.taro-btn-reset {
  margin-left: unset;
  margin-right: unset;
  width: unset;
}

.expand-click-area {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: 80;
  }
}
