@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/theme.less';

/*  #ifdef  weapp */

page {
  .theme-base-var();
  background-color: var(--page-bg-color);
}
button {
  margin-left: unset;
  margin-right: unset;
  width: unset;
  padding-left: unset;
  padding-right: unset;
}
button::after {
  border: none;
}
/*  #endif  */

/*  #ifdef  h5 */

:root {
  .theme-base-var();
}
.taro_router .taro_page {
  background-color: var(--page-bg-color) !important;
}
.weui-tabbar {
  background-color: #fff;
}
/*  #endif  */
